
img{
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
background-position: center;
margin: auto;
display: block;
}
h1{ font-family:algerian; 
   }
.words {
    margin: 220px;
   }

html{
    background-image: url(covor.png);
    background-repeat: no-repeat;
    background-size: cover;
}
mark{
    background-color: purple;
    color: black;
}
#link{
    font-size: 
    88px;
}
.bib{
    font-family: times new roman;
}